#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/xenconode_cloudinit.log
}

log '[INFO] Xenco dev server install started'

for rpm in ${rpms}
do

  log "[INFO] Installing Dev Tools - $${rpm}"
  yum install -y $${rpm}


done

log "[INFO] Configuring Xenco user"
useradd -c "Xenco Dev User" -G wheel xenco
mkdir /home/xenco/.ssh
chmod 700 /home/xenco/.ssh
echo "${xenco_ssh_key}" >> /home/xenco/.ssh/authorized_keys
chmod 600 /home/xenco/.ssh/authorized_keys
chown -R xenco:xenco /home/xenco/.ssh
log "[INFO] Configuring Xenco user complete"

log '[INFO] Xenco dev server install complete'
