#cloud-config
bootcmd:
  - "echo '[INFO] Applying bootcmd...'"
  - "echo ${NODETYPE}"
  - "echo $INSTANCE_ID"
  - "echo ${DOMAIN_NAME}"
  - "hostname ${NODETYPE}-$INSTANCE_ID.${DOMAIN_NAME}"
  - "echo $hostname"
  - "echo $HOSTNAME"
  - "sed -i \"1i$(curl -fs http://169.254.169.254/latest/meta-data/local-ipv4) ${NODETYPE}-$INSTANCE_ID.${DOMAIN_NAME} ${NODETYPE}-$INSTANCE_ID\" /etc/hosts"
  - "sed -i -e '/HOSTNAME=/d' /etc/sysconfig/network"
  - "echo \"HOSTNAME=${NODETYPE}-$INSTANCE_ID.${DOMAIN_NAME}\" >> /etc/sysconfig/network"
runcmd:
  - "echo '[INFO] Applying runcmd...'"
  - "/etc/init.d/iptables stop"
  - "/sbin/chkconfig iptables off"
preserve_hostname: true
repo_upgrade: none
final_message: "[INFO] System configuration finished!"

