#cloud-config
bootcmd:
  - "chkconfig consul off"
  - "chkconfig --del consul" 
  - "chkconfig consul-template off"
  - "chkconfig --del consul-template" 
  - "chkconfig dvsa_update_hostname off"
  - "chkconfig --del dvsa_update_hostname"
  - "rm -f /etc/init.d/dvsa_update_hostname"
  - "rm -f /etc/sysconfig/network-scripts/dvsa_hosts_update.sh"
  - "hostname ${NODETYPE}-$INSTANCE_ID.${ENVIRONMENT}.${ROOT_DOMAIN_NAME}"
  - "sed -i \"1i$(curl -fs http://169.254.169.254/latest/meta-data/local-ipv4)	${NODETYPE}-$INSTANCE_ID.${ENVIRONMENT}.${ROOT_DOMAIN_NAME}	${NODETYPE}-$INSTANCE_ID\" /etc/hosts"
  - "sed -i -e '/HOSTNAME=/d' /etc/sysconfig/network"
  - "echo \"HOSTNAME=${NODETYPE}-$INSTANCE_ID.${ENVIRONMENT}.${ROOT_DOMAIN_NAME}\" >> /etc/sysconfig/network"
  - "echo 1 > /proc/sys/net/ipv4/ip_forward"
  - "echo \"${NODETYPE}-$INSTANCE_ID\" > /etc/hostname"
  - "echo \"${SQUID_WHITELIST_RENDERED}\" | tr \" \" \"\\n\" > /etc/squid/whitelist.cidr"
  - "iptables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to-port 3130"
  - "iptables -t nat -A PREROUTING -p tcp --dport 80  -j REDIRECT --to-port 3129"
  - "iptables -t nat -A PREROUTING -p tcp --dport 465  -j REDIRECT --to-port 3130"
  - "service iptables save"

write_files:
  - content: |
      environment: ${ENVIRONMENT}
    path: /opt/puppetlabs/facter/facts.d/environment.yaml
    permissions: '0644'
  - content: |
      nodetype: ${NODETYPE}
    path: /opt/puppetlabs/facter/facts.d/nodetype.yaml
    permissions: '0644'

package_upgrade: true
preserve_hostname: true
