#cloud-config
bootcmd:
  - "hostname jenkins-$INSTANCE_ID.${DOMAIN_NAME}"
  - "sed -i \"1i$(curl -fs http://169.254.169.254/latest/meta-data/local-ipv4) jenkins-$INSTANCE_ID.${DOMAIN_NAME} jenkins-$INSTANCE_ID\" /etc/hosts"
  - "sed -i -e '/HOSTNAME=/d' /etc/sysconfig/network"
  - "echo \"HOSTNAME=jenkins-$INSTANCE_ID.${DOMAIN_NAME}\" >> /etc/sysconfig/network"
  - "echo \"jenkins-$INSTANCE_ID\" > /etc/hostname"
packages:
  - java-1.8.0-openjdk
preserve_hostname: true
