#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/jenkins_cloudinit.log
}

log '[INFO] Preparing configuration variables'
instance_id=$(curl http://169.254.169.254/latest/meta-data/instance-id)
jenkins_version=${JENKINS_BLUE_VERSION}
jenkins_home='/var/lib/jenkins'
ebs_volume_id=${EBS_VOLUME_ID}
ebs_device_name=${EBS_DEVICE_NAME}
aws_region=${AWS_REGION}

log '[INFO] Setting Java8 as default'
/usr/sbin/alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java

log '[INFO] Setting up Jenkins package name'
if [ $${jenkins_version} == 'latest' ]; then
  jenkins_package='jenkins'
else
  jenkins_package="jenkins-$${jenkins_version}"
fi
log "[INFO] Package name: $${jenkins_package}"

log '[INFO] Configuring Jenkins Yum Repository'
wget -O /etc/yum.repos.d/jenkins.repo https://pkg.jenkins.io/redhat-stable/jenkins.repo
rpm --import https://pkg.jenkins.io/redhat-stable/jenkins.io.key

log "[INFO] Installing Jenkins ver. $${jenkins_version}"
yum install -y $${jenkins_package}
chkconfig jenkins off

log '[INFO] Attaching EBS volume'
attach_retries=10
until [ $${attach_retries} -eq 0 ]; do
  aws ec2 attach-volume \
    --volume-id $${ebs_volume_id} \
    --instance-id $${instance_id} \
    --device $${ebs_device_name} \
    --region $${aws_region} \
    && break
  let attach_retries=$${attach_retries}-1
  sleep 10
done

log '[INFO] Waiting for EBS volume to be attached'
attach_status='unknown'
attach_retries=10
until [ $${attach_status} == 'attached' ]; do
  attach_status=$(aws ec2 describe-volumes \
    --volume-ids $${ebs_volume_id} \
    --query Volumes[].Attachments[].State \
    --region $${aws_region} \
    --output text)
  let attach_retries=$${attach_retries}-1
  if [ $${attach_retries} -eq 0 ]; then 
    log "[ERROR] Could not attach EBS volume after $${attach_retries} retries"
    exit 1
  fi
  sleep 5
done

check_ebs=$(file -s $${ebs_device_name})
if [[ $${check_ebs} == "$${ebs_device_name}: data" ]]; then
  log '[INFO] Creating ext4 file system on EBS'
  mkfs -t ext4 $${ebs_device_name}
else
  log '[INFO] EBS volume already contains a filesystem'
fi

log '[INFO] Mounting'
mkdir -p $${jenkins_home}
mount $${ebs_device_name} $${jenkins_home}
chown jenkins:jenkins -R $${jenkins_home}

log '[INFO] Adding new configuration entry to FSTAB'
echo "$${ebs_device_name}  $${jenkins_home}  ext4  defaults,nofail  0 0" >> /etc/fstab

log '[INFO] Starting Jenkins'
service jenkins start

log '[INFO] Jenkins BLUE configuration finished'
