#!/bin/bash

function log() {
  echo "[$(date)]$1" | tee -a /var/log/bastion_cloudinit.log
}

log '[INFO] Running puppet to configure bastion environment'

# Shift this to cloud-init config yaml
facts_path="/opt/puppetlabs/facter/facts.d"
echo -n 'environment: ${ENVIRONMENT}'    > "$${facts_path}/environment.yaml"
echo -n 'nodetype: ${NODETYPE}'          > "$${facts_path}/nodetype.yaml"
echo -n 'aws_account: ${AWS_ACCOUNT_ID}' > "$${facts_path}/aws_account.yaml"

cd /opt/packer-puppet-masterless

# TODO: peacheym: Convert this script to use standardised
# error handling, remove the "set -e" and then
# add --detailed-exitcodes and handle the return codes puppet provides
/opt/puppetlabs/bin/puppet apply \
  --verbose \
  --modulepath='/opt/packer-puppet-masterless/module-0:/opt/packer-puppet-masterless/module-1' \
  --hiera_config='/opt/packer-puppet-masterless/hiera.yaml' \
  /opt/packer-puppet-masterless/manifests/site.pp

log '[INFO] Bastion configuration finished'
