#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/${nodetype}_cloudinit.log
}

# Puppet will restart the prometheus service

log '[INFO] Running puppet to configure environment'

cd /tmp/packer-puppet-masterless
export FACTER_environment='${environment}'
export FACTER_puppet_environment='${puppet_environment}'
export FACTER_nodetype='${nodetype}'
export FACTER_aws_account='${aws_account}'
/opt/puppetlabs/bin/puppet apply --verbose --modulepath='/tmp/packer-puppet-masterless/module-0:/tmp/packer-puppet-masterless/module-1' --hiera_config='/tmp/packer-puppet-masterless/hiera.yaml' --detailed-exitcodes /tmp/packer-puppet-masterless/manifests/site.pp

log '[INFO] ${nodetype} configuration finished'
