#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/jenkinsnode_cloudinit.log
}


log '[INFO] Preparing configuration variables'
CLIENT_NAME=$(hostname)
MASTER_URL=${master_url}
LABELS="${account_alias} $${CLIENT_NAME}"
EXECUTORS=${executors}

log '[INFO] Injecting custom values to config file'
sed -i 's|unknown_client_name|'$${CLIENT_NAME}'|g' /etc/sysconfig/jenkinsnode
sed -i 's|unknown_master_url|http://'$${MASTER_URL}'|g' /etc/sysconfig/jenkinsnode
sed -i 's|unknown_labels|'"$${LABELS}"'|g' /etc/sysconfig/jenkinsnode
sed -i 's|unknown_executors_number|'$${EXECUTORS}'|g' /etc/sysconfig/jenkinsnode

log '[INFO] Starting JenkinsNode'
/etc/init.d/jenkinsnode start

log '[INFO] JenkinsNode configuration finished'
