#!/bin/bash

# Configure the EFS Mount.
# Puppet will handle service startup.

# Ensure the directory exists
mount -p "${MOUNT_POINT_ENC}";

# Set mount information in /etc/fstab - we're unlikely to reboot, but it can't hurt to ensure it remains
echo "$${az}.${EFS_ENC_ID}.efs.$${region}.amazonaws.com:/ ${MOUNT_POINT_ENC} efs rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport,tls 0 0" >> /etc/fstab

# Mount the configured target for Grafana
mount ${MOUNT_POINT_ENC};

# Make sure the nexus user owns /opt as that's it home dir
chown nexus:nexus /opt;
chmod 755 /opt/sonatype-work/nexus3