{
  "Version": "2008-10-17",
  "Statement": [
    {
      "Sid": "AllowManagedAccountsToRead",
      "Effect": "Allow",
      "Principal": {
        "AWS": ${RO_PRINCIPALS}
      },
      "Action": [
        "ecr:BatchCheckLayerAvailability",
        "ecr:BatchGetImage",
        "ecr:DescribeImages",
        "ecr:DescribeRepositories",
        "ecr:GetAuthorizationToken",
        "ecr:GetDownloadUrlForLayer",
        "ecr:GetRepositoryPolicy",
        "ecr:ListImages"
      ]
    }
  ]
}
