[
    {
        "essential": true,
        "image": "${image}",
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "${log_group}",
                "awslogs-region": "${region}",
                "awslogs-stream-prefix": "${stream_prefix}"
            }
        },
        "volumesFrom": [],
        "mountPoints": [
        ],
        "name": "${name}",
        "environment": [
          { "name" : "EPDQ_ENVIRONMENT_RESPONSE_URL", "value" : "${response_domain}"}
        ],
        "portMappings": [
            {
                "containerPort": 8080,
                "hostPort": 8080,
                "protocol": "tcp"
            }
        ]
    }
]
