#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/xenconode_cloudinit.log
}

log '[INFO] Xenco dev server install started'

for rpm in ${rpms}
do

  log "[INFO] Installing Dev Tools - $${rpm}"
  yum install -y $${rpm}


done

log '[INFO] Xenco dev server install complete'
