#!/bin/bash -xe

function log() {
  echo "[$(date)]$1" | tee -a /var/log/wildfly_back_cloudinit.log
}

log '[INFO] Preparing configuration variables'

# log '[INFO] Starting JenkinsNode'
# /etc/init.d/jenkinsnode start

log '[INFO] Wildfly backend configuration finished'
