#cloud-config
bootcmd:
  - "echo '[INFO] Applying bootcmd...'"
  - "hostname ${nodetype}.${domain_name}"
  - "sed -i \"1i$(curl -fs http://169.254.169.254/latest/meta-data/local-ipv4) ${nodetype}.${domain_name} ${nodetype}-$INSTANCE_ID\" /etc/hosts"
  - "sed -i -e '/HOSTNAME=/d' /etc/sysconfig/network"
  - "echo \"HOSTNAME=${nodetype}.${domain_name}\" >> /etc/sysconfig/network"
runcmd:
  - "echo '[INFO] Applying runcmd...'"
  - "/etc/init.d/iptables stop"
  - "/sbin/chkconfig iptables off"
preserve_hostname: true
final_message: "[INFO] System configuration finished!"
